* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #1e1e2e;         /* base */
  color: #cdd6f4;              /* text */
}

#workspaces {
  margin: 0 6px;
}

#workspaces button {
  color: #bac2de;
  padding: 0 10px;
  margin: 4px 3px;
  border-radius: 8px;
  background: transparent;
}

#workspaces button.focused {
  background: #89b4fa;
  color: #1e1e2e;
}

#workspaces button:hover {
  background: #313244;
  color: #cdd6f4;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
  background: #181825;         /* mantle */
  color: #cdd6f4;
  padding: 0 10px;
  margin: 4px 4px;
  border-radius: 8px;
}
